

<h1><%= @recipe.title %>  </h1>
<img src=<%= @recipe.pic_url %> alt="Recipe Image" width="auto" height="250px">
<p> by <em> <%= @recipe.user.name %> </em> </p>
<h4>simple review: <%= simple_review(@recipe.id).to_f.round(1) %> </h4>
<h4>healthy review: <%= healthy_review(@recipe.id).to_f.round(1) %> </h4>
<h4>tasty review: <%= tasty_review(@recipe.id).to_f.round(1) %> </h4><br>
<p> <%= @recipe.content %> </p>

<% if logged_in? %>
<h2><a href="/reviews/<%=@recipe.id%>">Click here</a> to review this recipe </h2>
<% else%>
 <p> <a href="/login">Login</a> or <a href="/signup">Sign up</a> to submit your review. </p> 

<%end%>




<p> <%@recipe.reviews.each do |review| %>
    <h4><%= review.user.username%></h4>
    <em>simple: <%= review.simple_review%> healthy: <%= review.healthy_review%> tasty: <%= review.tasty_review%></em>  <br>
    <%= review.comments%>  <br>
    <% end %>
</p>







