<h1>Side Dish Recipes</h1>



<% @side_dish_array = @recipes.select { |recipe| recipe.category == "side_dish"}%>

<% @side_dish_sorted = @side_dish_array.sort {|a, b| a.title <=> b.title } %>
    
<div class ="top-nav">

<% @side_dish_sorted.each do |recipe| %>
    <a href="/recipes/<%= recipe.id %>"><img src=<%= recipe.pic_url %> width="185px" height="auto" style="margin:3px"><h4><%= recipe.title%></h4> 
    
    <% if recipe.reviews.all.empty? %>
    <h4><em> No reviews</em></h4>
    
    <%else%> 
   
    <h5>simple: <%= simple_review_display(recipe.id).to_f.round(1) %> </h5>
    <h5>healthy: <%= healthy_review_display(recipe.id).to_f.round(1) %> </h5>
    <h5>tasty: <%= tasty_review_display(recipe.id).to_f.round(1) %> </h5></a>
    <% end %>
    <% end %>
    
    </div>
   


